* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
            display: flex;
            flex-direction: row;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            /* background-color: rgb(74, 74, 74); */
            z-index:3;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,62,255,1) 100%, rgba(0,212,255,1) 100%);
            overflow-x: auto;
            white-space: nowrap;
            
        }

        .nav-content {
            margin: 25px;
            padding: 10px;
        }

        .nav-link {
            text-decoration: none;
            color: #ffffff;
            padding: 10px 20px;
            border-right: 1px solid #555;
            transition: background-color 0.3s;
        }

        .nav-link:last-child {
            border-right: none;
        }

        .nav-link:hover {
            background-color: #00d4ff;
        }

        .nav-link.active {
            background-color: #00d4ff;
            font-weight: bold;
        }

        .content {
            margin-top: 40px;
            /* To create space for the fixed navbar */
            padding: 20px;
        }
        .nav-hamburger {
            
            display:none;
            
        }
        .icon{
            display: none;
        }
        @media  screen and (max-width: 700px){
            .navbar .nav-link{
                display: none;
            }
        
        .icon{
            display: block;
            font-size: 40px;
            position: absolute;
            top:20px;
            right:20px;
            background:linear-gradient(80deg, rgb(255, 255, 255) 0%, rgb(0, 21, 117) 100%, rgb(17, 227, 255) 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        .navbar{
          height:15%;
        }
        .logo-container img{
            width: 95%;
        }
        .nav-hamburger.responsive{
          overflow-x:scroll;
            position: fixed;
            background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,62,255,1) 100%, rgba(0,212,255,1) 100%);
            display: flex;
            top:15%;
            /* margin-top:58px; */
            flex-direction: column;
            width: 100%;
            height: 85%;
            z-index:5;
            animation: hamburgeranimation 1s;
            animation-direction: normal;
        }
        }
        @keyframes hamburgeranimation {
          0%   {right: 300px; top: 15%;}
          100%  { right: 0px; top: 15%;}
      
        }
.content {
  margin-top: 40px;
  /* To create space for the fixed navbar */
  padding: 20px;
}
brr{
  margin-top:50px;
}
body {
  background-color: aliceblue;;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url(bg3.jpg);
  background-position: fixed; */
  background-color: #e6f1ff;
}
.block{
  display: flex;
}
.codeblock{
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,62,255,1) 100%, rgba(0,212,255,1) 100%);
  margin: 30px;
  border-radius: 30px;
}
h1 {
  color: #582a89;
  font-size: 2rem;
  padding: 1rem;
  margin-left: 50px;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  color: #9000ff;
  font-size: 20px;
  margin-left: 50px;
  padding: 1rem;
  font-weight: bold;
  line-height: 1.5;
  /* word-wrap: break-word; Break words that exceed the container width */
  white-space: pre-line; 
}

doc{
  color: #ff0000;
}

.imagesection{
  background-color: #80a9de;
border-radius: 50px;
width:50%;
margin-left:20px;
overflow:auto;
}

.imagesection img{
  margin-left:0;
  width:80%;
}

.imagesectionfull{
background-color: #80a9de;
border-radius: 50px;
width:95%;
margin-left:20px;
margin-right: 20px;
overflow:auto;
}
.imagesectionfull img{
  margin-left:0;
  width:90%;
}


.code-wrapper img{
  width:80%;
  height:80%;
  position: relative;
  left:-50px;
}

.container {
  
  margin: 30px;
  width: 50%;
  height: 66%;
  overflow: auto;
  border-radius: 12px;
  background-color: #2e2e2e;
  z-index:0;
}

.language {
  color: white;
  background-color: #1f4287;
  padding: 12px 16px;
  border-radius: 5px 5px 0 0;
  /* text-align: right; */
}
code{
  padding: -50px;
}
.code-wrapper {
  position: relative;
}

.code-wrapper pre {
  background-color: #2e2e2e;
  color: white;
  /* padding: 8px 20px; */
  border-radius: 0 0 5px 5px;
  overflow: auto;
}

#copy-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 7px;
  background-color: #2d2d2d;
  outline: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  opacity: 0;
  border: 1px solid antiquewhite;
}

#copy-button.show-msg{
    display: none;
}

#copy-button:hover {
  background-color: #423e3e;
}

.code-wrapper:hover #copy-button {
  opacity: 1;
}
.info p::first-line {
  padding: 5px; /* Adjust the padding value as needed */
}
&lt{
  color: #00c638;
}
#compile{
  margin:20px;
  padding:10px;
  color: #1f4287;
  background-color: #abc3f4;

}
#compiler-div{
  display: flex;
  
}

@media screen and (max-width: 900px) {
  .block #arrow{
    display: none;
  }
  .block{
    display:flex;
    flex-direction: column;
  }
  .container {
  
    margin: 30px;
    width: 90%;
    height: 66%;
    overflow: auto;
    border-radius: 12px;
    background-color: #2d2d2d;
  }
  /* .bookmarkarrow {

    height:10%;
    width: 20%;
  } */
}

@media screen and (max-width: 400px) {
  .block #arrow{
    display: none;
  }
  .block{
    display:flex;
    flex-direction: column;
  }
  .container {
  
    margin: 10px;
    width: 90%;
    height: 66%;
    overflow: auto;
    border-radius: 12px;
    background-color: #2d2d2d;
  }
  h1{
    margin-left: 5px;
  }
  p{
    font-size: medium;
    margin-left: 5px;
  }
  .code-wrapper img{
    width:95%;
    height:100%;
    position: relative;
    left:-88px;
  }

  .bookmarkarrow {

    height:10%;
    width: 20%;
  }
  .codeblock{
    margin:4px;
  }
}
/* just a trial */

.menu {
  --s: 30px; /* control the size */
  /* --c: black; the color */
  --c:#a663ff;
  /* --c:linear-gradient(180deg, rgb(89, 86, 132) 0%, rgb(92, 120, 247) 100%, rgba(0,212,255,1) 100%); */

  
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s)/2) solid #0000; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
         repeat-y content-box border-box;
  background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
  background-size: 
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  cursor: pointer;
  transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.menu:before,
.menu:after {
  content:"";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s,.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1*var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

